body {
  font-family: "Roboto", sans-serif;
  background-color: #b8d8aa;
  margin: 0px 0px 0px 0px;
}

#mainContainer {
  background-color: #75c69b;
  width: 70%;
  height: 800px;
  margin: 40px 0 0 100px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px 0px black;
}

#itemList {
  background-color: white;
  width: 70%;
  height: 600px;
  overflow: auto;
  border-radius: 5px;
}

#itemInput {
  width: 50%;
  height: 40px;
  padding: 0px;
  border: 0;
  border-radius: 5px;
  outline-style: none;
  text-indent: 10px;
}

#addItem {
  width: 50%;
  height: 40px;
  border: 0;
  padding: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px black;
  font-weight: bold;
}

#list {
  list-style-type: none;
  font-size: 1.25em;
  margin-top: 20px;
  padding: 0;
  text-indent: 40px;
}

li:hover {
  background-color: lightblue;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  #mainContainer {
    width: 100%;
    margin: 40px 0px 0px 0px;
  }
}
